@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap');

body {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.521719) 37.5%, rgba(0, 0, 0, 0) 100%), url("../assets/zoom.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  margin-top: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 60px;
  text-align: center;
}

.content p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0px 26%;
}

@media screen and (max-width: 750px) {
  .content h2 {
    font-size: 50px;
  }
  .content p {
    font-size: 15px;
  }
}