
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/*Início das configurações da header*/
header {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color:rgba(0, 0, 0, 0.42);
}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0.2% 0 0 5%;
}
/*Início das configurações da Navigation*/
.menu {
    width: 70%;
    height: 100%;
    float: right;
    display: flex;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 14px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
    width: 40%;
    height: inherit;
    color: #fff;
    display: inline-block;
}
.profile{
    flex-direction: row-reverse;
}
.profile img{
    width:40px;
    height:43px;
    margin: -13px;
    margin-right: 13px;
    object-fit: cover;
    border-radius: 500px;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
.Login-Button {
    width: 20%;
    height: 35px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
  }
  .Login-Button:hover{
    border:1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    background:none;
  }
/*Início das configurações da Navigation com dispositivos < 768px*/
@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
        display: block;
        line-height: 10px;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
        padding: 0px;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
        /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
        /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
    }
    .menu ul a, .menu ul button{
        text-align: center;
        width: 100%;
        height: 50px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.74);
        padding: 20px 0px 10px 5%;
    }

    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        color: #fff;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
    .menu-icon i {
        font-size: 1.7em;
    }
    .content{
        position: fixed;
        z-index: -1;
        margin-top: 30%;

    }
    .Login-Button:hover{
        background-color:rgba(0, 0, 0, 0.74);
    }
}
@media screen and (max-width: 769px){
    header{
        line-height: 0px;
    }
    .content{
        position: fixed;
        z-index: -1;
    }
} 